@use "../base/variables" as var;

.memorial {
  &_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    h2 {
      font-size: var.px_vw(46.08px);
      text-align: center;
    }
  }
  &_wrapper {
    display: flex;
    flex-direction: column;
  }
  &_scenario {
    display: block;
    width: var.px_vw(500px);
    margin: var.px_vw(100px) auto auto 0;
    img {
      width: 100%;
    }
    dt {
      font-size: var.px_vw(38.4px);
    }
    dd {
      display: grid;
      grid-template-columns: var.px_vw(150px) auto;
      font-size: var.px_vw(32px);
      span {
        text-align: center;
      }
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:nth-of-type(even) {
      margin: var.px_vw(100px) 0 auto auto;
    }
  }

  &_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    span {
      font-size: var.px_vw(46.08px);
      text-align: center;
    }
  }
}
