@use "./variables" as var;

body {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  line-height: 1.34;
  background: var(--bg-pattern);
  color: var(--c-primary);
}

h1,
h2,
h3,
h4,
p,
span,
ul {
  background: url("@/assets/images/texture/noize.png") center/cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  margin: var.px_vw(200px) auto 0;
  &:first-of-type {
    margin: auto;
  }
}

.c-headingType2 {
  display: block;
  width: fit-content;
  h2 {
    font-family: Impact, Charcoal;
    font-size: var(--fs-ttl);
    font-weight: bold;
  }
}

.tp-dfwv {
  position: fixed !important;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
}
