@use "../base/variables" as var;

.l-handout {
  display: block;
  max-width: var(--w-content);
  width: 100%;

  &__container {
    margin-top: var.px_vw(25px);
    &-text {
      font-size: var(--fs-base);
      line-height: 1.34;
    }
  }

  &__list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var.px_vw(40px);
    margin-top: var.px_vw(50px);
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;

    &-mv {
      width: 100%;
    }
    &-text {
      width: 100%;
      color: #707070;
      padding: var.px_vw(10px) var.px_vw(10px) var.px_vw(25px);
      h3 {
        font-size: var(--fs-subttl);
        font-weight: bold;
      }
      p {
        font-size: var(--fs-min);
        margin-top: var.px_vw(10px);
      }
    }
  }
}
