@use "./variables" as var;

body {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  line-height: 1.34;
  background: var(--bgc-dark);
  color: var(--c-primary);
}

section {
  margin: var.px_vw(200px) auto 0;
  &:first-of-type {
    margin: auto;
  }
}

.c-headingType2 {
  display: block;
  width: fit-content;
  h2 {
    font-family: Impact, Charcoal;
    font-size: var(--fs-ttl);
    font-weight: bold;
  }
}
