extends ../_include/base/_layout


//- -----------------------------------------
//- head
block append PARAM
	-
		//- 上書きする場合
		//- siteTitle       = ""
		//- siteDescription = ""
		//- siteKeywords    = ""
		og_image = "../../../assets/images/ogp.jpg"
		root = ".";

block append JS
	//- jsの追加読み込み
	//- script(src=root+"")

block append BREADCRUMB
	//- パンくずリスト
	li: span.text-buttons.text-buttons-s: a(href="/top.html") TOP
	//- li: span: a(href=root+'/')=siteTitle
	li.current: span=siteTitle

//- block append HEADER
//- 	include _include/ui/_contentHeader.pug

block append MAIN
	//- mainの内容


	.main_wrap
		article(class=myClass)
			section#Testimony.Testimony
				.Testimony_wrapper
					.Testimony_ttl
						.Testimony_ttl-img
							img(src="../../../assets/images/character/testimony01.png", alt="証言者の画像")
						.testimony_ttl-text
							h2 Testimony_name
							p Testimony_text
							p Testimony_text

					.Testimony_text
						p ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。



	include ../_include/ui/_contentFooter.pug
