.mwCharacter-list {
    width: 100%;
    background-color: #000;

    &__head {
        width: 100%;
        height: 25vh;
        position: relative;
        background: #fff;

        &-ttl {
            position: absolute;
            top: 50%;
            left: 80%;
            transform: translate(-50%, -50%);
            width: 28rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h1 {
                width: 100%;
                color: #000;
                font-size: 6rem;
            }

            span {
                display: block;
                width: 15rem;
                background-color: #000;
                color: #fff;
            }
        }
    }

    &__wrap {
        display: grid;
        grid-template-columns: repeat(12, [col-start] 1fr);
        gap: 1rem;
        width: 100%;

        &-main {
            grid-column: col-start / span 9;
            display: flex;
            width: 90%;
            margin: auto;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &-outer {
            margin: 3rem auto;
            width: 32%;

            &:nth-of-type(-n+3) {
                margin-top: 0;
            }

            &:after {
                display: block;
                content: "";
                width: 32%;
            }
        }

        &-inner {
            padding: 3rem;
            margin-top: 5rem;
            position: relative;
            cursor: pointer;
            outline: none;
            border: none;
            box-sizing: border-box;

            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 20%;
                height: 20%;
                border: 2px solid;
                transition: all 0.6s ease;
                border-radius: 2px;
            }

            &:hover {

                &::before,
                &::after {
                    width: 100%;
                    height: 100%;
                }
            }

            &::before {
                bottom: 0;
                right: 0;
                border-top-color: transparent;
                border-left-color: transparent;
                border-bottom-color: #37ddfd;
                border-right-color: #37ddfd;
                filter: drop-shadow(0 0 0.4em #05d5fc);
                z-index: 1;
            }

            &::after {
                top: 0;
                left: 0;
                border-top-color: #37ddfd;
                border-left-color: #37ddfd;
                border-bottom-color: transparent;
                border-right-color: transparent;
                filter: drop-shadow(0 0 0.4em #05d5fc);
                z-index: 1;
            }
        }

        &-thumb {
            display: block;
            width: 90%;
            margin: auto;
        }

        &-name {
            margin-top: 1rem;
            font-size: 2.6rem;
        }

        &-cat {
            display: flex;
            margin-top: .5rem;
            flex-wrap: wrap;
            justify-content: left;
        }

        &-tag {
            display: block;
            width: fit-content;
            padding: 1rem 1.5rem;
            border: 1px solid #fff;
        }

        &-text {
            margin-top: 1rem;
            font-size: 1.6rem;
        }

        &-link {
            display: block;
            width: 50%;
            margin: auto;
            margin-top: 1.5rem;
            padding: 1.5rem 0;
            font-size: 1.8rem;
            text-align: center;
            border: 2px solid #05d5fc;
            filter: drop-shadow(0 0 0.4em #05d5fc);
        }

        &-sidebar {
            grid-column: col-start 10/ span 3;
            background-color: #37ddfd;

            aside {
                h2 {
                    font-size: 3rem;
                }
            }
        }
    }
}


//----個別ページ----//
.mwCharacter {
    &__head {
        width: 100%;
        height: 25vh;
        position: relative;
        background: #fff;

        &--ttl {
            position: absolute;
            top: 50%;
            left: 80%;
            transform: translate(-50%, -50%);
            width: 28rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h1 {
                width: 100%;
                color: #000;
                font-size: 6rem;
            }

            span {
                display: block;
                width: 15rem;
                background-color: #000;
                color: #fff;
            }
        }
    }

    &__top {
        width: 100%;
        background-color: #000;

        &__wrapper {
            display: flex;
            width: 156rem;
            margin: auto;
            justify-content: space-between;

            &__text {
                width: 80rem;
                margin: 0 auto;
                padding: 30px;

                h4 {
                    color: #fff;
                    font-size: 2rem;
                }

                &--ttl {
                    color: #fff;

                    h2 {
                        font-size: 5rem;
                    }

                    h3 {
                        font-size: 3rem;
                    }

                    span {
                        background-color: #fff;
                        color: #000;
                    }

                }

                &--deco {
                    color: #fff;
                    font-size: 2rem;
                    margin-top: 2rem;
                }

                &--slideBtn {
                    width: 100%;
                    margin-top: 5rem;

                    .swiper-pagination {
                        display: flex;
                        position: relative !important;
                        margin-top: 20px !important;
                    }

                    .swiper-pagination-bullet {
                        display: inline-block;
                        position: relative;
                        border-radius: 0% !important;
                        width: 15rem !important;
                        height: auto !important;
                        padding: 2rem 1rem;
                        border: 1px solid #fff;
                        color: #fff;
                        font-size: 1.6rem;
                        // background: #fff !important;
                        opacity: 1 !important;

                        &:before {
                            border-bottom: 15px solid transparent;
                            border-left: 15px solid #fff;
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                        }

                        &::after {
                            border-left: 15px solid transparent;
                            border-bottom: 15px solid #fff;
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 0px;
                            right: 0px;
                        }
                    }

                    .swiper-pagination-bullet-active {
                        color: #000;
                        background: #fff !important;

                    }
                }

                &--status {
                    display: block;
                    margin-top: 5rem;

                    .chart-size {
                        display: block;
                        width: 70%;
                        margin: auto;
                    }
                }
            }

            &__img {
                position: relative;
                width: 45rem;
                overflow: hidden;

                .swiper-wrapper {}

                .chara_lines {
                    position: absolute;
                    top: 20%;
                    right: 20%;
                    writing-mode: vertical-rl;
                    z-index: 3;

                    p {
                        background-color: #fff;
                        color: #000;
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}