// Scss Document

/*---コンテンツ----*/

.mwtrpg {
	position: relative;
	display: block;
	max-width: 192rem;
	width: 100%;

	&__top {
		width: 100%;

		&__mv {
			position: relative;
			background-color: #000;

			img {
				width: 100%;
			}

			&__ttl {
				position: absolute;
				top: 5rem;
				left: 1rem;

				h1 {
					color: #fff;
					font-size: 30rem;
					line-height: 30rem;
				}

				.reveal-text,
				.reveal-text::after {
					animation-delay: var(--animation-delay, 2s);
					animation-iteration-count: var(--iterations, 1);
					animation-duration: var(--duration, 800ms);
					animation-fill-mode: both;
					animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
				}

				.reveal-text {
					--animation-delay: var(--delay, 0);
					--animation-duration: var(--duration, 800ms);
					--animation-iterations: var(--iterations, 1);
					display: inline-block;
					position: relative;
					animation-name: clip-text;
					color: #FFF;
					cursor: default;

					&::after {
						content: "";
						position: absolute;
						z-index: 999;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background-color: #fff;
						transform: scaleX(0);
						transform-origin: 0 50%;
						pointer-events: none;
						animation-name: text-revealer;
					}

				}


				@keyframes clip-text {
					from {
						clip-path: inset(0 100% 0 0);
					}

					to {
						clip-path: inset(0 0 0 0);
					}
				}


				@keyframes text-revealer {

					0%,
					50% {
						transform-origin: 0 50%;
					}

					60%,
					100% {
						transform-origin: 100% 50%;
					}


					60% {
						transform: scaleX(1);
					}

					100% {
						transform: scaleX(0);
					}
				}

			}
		}
	}

	&__chara {
		background: #333;
		height: 100vh;
		width: 100%;

		&__container {
			width: 124rem;
			padding: 10rem 0;
			margin: auto;

			h2 {
				color: #fff;
				font-size: 3.4rem;
			}

			&__wrapper {
				margin: 10rem calc(50% - 50vw);
				width: 100vw;

				ul {
					display: flex;
					width: 108rem;
					margin: 10rem auto;
					flex-wrap: wrap;
					justify-content: center;

					li {
						margin: 0;
						width: 25%;
						height: auto;
						transform: skewX(-25deg);
						background: #fff;
						cursor: pointer;

						img {
							width: 100%;
							height: 100%;
							transform: skewX(25deg);
							object-fit: cover;
						}
					}
				}
			}

			&__modal {
				display: none;
				height: 100vh;
				position: fixed;
				top: 0;
				width: 100vw;
				z-index: 2;

				&--bg {
					background: rgba(0, 0, 0, 0.8);
					height: 100vh;
					position: absolute;
					width: 100vw;
				}

				&--content {
					display: flex;
					justify-content: space-between;
					background: #fff;
					left: 50%;
					padding: 40px;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 60%;

					&--text {
						width: 50%;

						h3 {
							font-size: 3rem;
						}

						p {
							font-size: 2rem;
						}

						ul {
							display: flex;
							flex-direction: column;
							width: 100%;
							margin: auto;
							justify-content: left;

							li {
								display: flex;
								font-size: 1.8rem;
								width: 100%;

								span {
									width: 20%;
								}

								p {
									width: 80%;
								}
							}
						}
					}

					&--img {
						width: 40%;

						img {
							width: 100%;
						}
					}
				}
			}

			.js-modal {
				&.visible {
					display: block;
				}
			}
		}
	}

	&__movie {
		background: #333;
		height: 100vh;
		width: 100%;

		&__container {
			width: 124rem;
			padding: 10rem;
			margin: auto;

			h2 {
				color: #fff;
				font-size: 3.4rem;
			}

			&__warpper {


				.swiper-slide {
					position: relative;
					cursor: pointer;
					width: 100%;
					height: auto;

					img {
						width: 100%;
						height: 100%;
					}

					span {
						display: block;
						position: absolute;
						width: 8rem;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
					}
				}
			}

			#modal-video {
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				position: fixed;
				z-index: 8;
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				background-color: rgba(#000, .75);
				transition: .5s;

				&.close {
					filter: opacity(0);
					visibility: hidden;
				}

				&.open {
					filter: opacity(1);
					visibility: visible;
				}

				iframe {
					width: 64vw;
					height: 36vw;
				}
			}
		}
	}

	&__log {
		background: #333;
		height: 100vh;
		width: 100%;

		&__container {
			width: 124rem;
			padding: 10rem 0;
			margin: auto;

			h2 {
				color: #fff;
				font-size: 3.4rem;
			}

			&__warpper {

				&__box {
					display: flex;
					position: relative;
					width: 40rem;
					height: 27rem;
					justify-content: space-between;
					margin: 1rem 2.5rem;
					background: #fff;

					&__img {
						position: absolute;
						width: 16.2rem;
						top: 4rem;
						object-fit: cover;
						left: -1.5rem;

						img {
							width: 100%;
							height: 100%;

						}
					}

					&__text {
						position: absolute;
						width: 19rem;
						height: 15.5rem;
						top: 4rem;
						right: 3.5rem;
					}

					&__info {
						display: flex;
						width: 45%;
						position: absolute;
						bottom: 2.5rem;
						right: 3.5rem;
						align-items: center;
						justify-content: space-between;
					}
				}
			}
		}
	}

	&__profile {
		background: #333;
		height: 100vh;
		width: 100%;

		&__container {
			width: 124rem;
			padding: 10rem 0;
			margin: auto;

			h2 {
				color: #fff;
				font-size: 3.4rem;
			}

			&__warpper {
				display: flex;
				width: 100%;
				justify-content: space-between;

				&--img {
					width: 30%;

					img {
						width: 100%;
					}
				}

				&--text {
					width: 70%;
				}
			}
		}
	}
}