// Scss Document

/*---header----*/

nav {
	position: fixed;
	top: 30px;
	right: 25px;
	z-index: 999;

	ul {
		display: flex;
		color: #fff;
		justify-content: space-between;
		text-shadow: 1px 1px 0 #333,
			-1px -1px 0 #333,
			-1px 1px 0 #333,
			1px -1px 0 #333,
			0px 1px 0 #333,
			0-1px 0 #333,
			-1px 0 0 #333,
			1px 0 0 #333;

		li {
			font-size: 2.4rem;
			padding: 0 1.5rem;

			&:first-of-type {
				padding-left: 0;
			}

			&:last-of-type {
				padding-right: 0;
			}
		}
	}
}