@use "../base/variables" as var;

.l-handout {
  display: block;
  width: var.px_vw(800px);
  margin: auto;

  &_list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var.px_vw(20px);
  }

  &_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var.px_vw(10px);
    background-color: #fff;
    &-name {
      font-size: var.px_vw(20px);
      font-weight: bold;
      text-align: center;
      color: #707070;
    }
    &-link {
      display: block;
      width: 60%;
      margin: auto;
      border: 1px solid #707070;
      font-size: var.px_vw(20px);
      font-weight: bold;
      text-align: center;
      line-height: 1;
      padding: var.px_vw(10px);
    }
  }
}
