@use "../base/variables" as var;

body {
  font-family: var(--ff-base);
  background-color: var(--bgc-dark);
  color: white;
}

section {
  margin: var.px_vw(100px) auto 0;
  &:first-of-type {
    margin: 0 auto;
  }
}
