.hexagon3__wrapper {
    display: flex;
    flex-wrap: wrap;
    --wrapper-width: 80%;
    width: var(--wrapper-width);
    /* 全体の大きさを変更できる */
    /* margin-right: calc(-1 * var(--wrapper-width) / 6 * 0.25 * 4 - var(--wrapper-width) / 6 * 0.05 * 2); */
    /* margin-bottom: 20%; */
    justify-content: center;
    margin: auto;
}

@media(max-width: 768px) {
    .hexagon3__wrapper {
        --wrapper-width: 100%;
        font-size: 3vw;
    }
}

.hexagons {
    width: calc(100% /6);
}

.honeycomb-area {
    display: flex;
    justify-content: center;
}

.hexagon-3_hexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 200 / 173;
    /* 正六角形になる比率 */
    background-color: #333;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    cursor: pointer;
}

.hexagon-3_hexagon>span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
    background-color: #fff;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

/* 2行目と3行目の六角形を上にずらして縁を重ねる */
.hexagon-3_hexagon:nth-of-type(2),
.hexagon-3_hexagon:nth-of-type(3) {
    margin-top: -5%;
}

/* 中央の列を下にずらす */
.honeycomb-area .hexagons-center {
    transform: translateY(calc(100% / 4.1));
}

/* 2列目と3列目の六角形を左にずらして縁を重ねる */
.honeycomb-area .hexagons-center,
.honeycomb-area .hexagons-right {
    margin-left: calc(-100% / 7.1* 0.25 - 100% / 6 * 0.05);
}