@use '../mixin';

.mwCharacter-list {
    width: 100%;
    background-color: #000;

    &__head {
        width: 100%;
        height: 25vh;
        position: relative;
        background: #fff;

        &-ttl {
            position: absolute;
            top: 50%;
            left: 80%;
            transform: translate(-50%, -50%);
            width: 28rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h1 {
                width: 100%;
                color: #000;
                font-size: 6rem;
            }

            span {
                display: block;
                width: 15rem;
                background-color: #000;
                color: #fff;
            }
        }
    }

    &__wrap {
        display: grid;
        grid-template-columns: repeat(12, [col-start] 1fr);
        gap: 1rem;
        width: 100%;

        &-main {
            grid-column: col-start / span 9;
            display: flex;
            width: 90%;
            margin: 5rem auto 0;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &-outer {
            margin: 3rem auto;
            width: 32%;

            &:nth-of-type(-n+3) {
                margin-top: 0;
            }

            &:after {
                display: block;
                content: "";
                width: 32%;
            }
        }

        &-inner {
            padding: 3rem;
            margin-top: 5rem;
            position: relative;
            cursor: pointer;
            outline: none;
            border: none;
            box-sizing: border-box;
            color: #fff;

            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 3rem;
                height: 3rem;
                border: 2px solid;
                transition: all 0.6s ease;
                border-radius: 2px;
            }

            &:hover {

                &::before,
                &::after {
                    width: 100%;
                    height: 100%;
                }
            }

            &::before {
                bottom: 0;
                right: 0;
                border-top-color: transparent;
                border-left-color: transparent;
                border-bottom-color: #37ddfd;
                border-right-color: #37ddfd;
                filter: drop-shadow(0 0 0.4em #05d5fc);
                z-index: 1;
            }

            &::after {
                top: 0;
                left: 0;
                border-top-color: #37ddfd;
                border-left-color: #37ddfd;
                border-bottom-color: transparent;
                border-right-color: transparent;
                filter: drop-shadow(0 0 0.4em #05d5fc);
                z-index: 1;
            }
        }

        &-thumb {
            display: block;
            width: 90%;
            margin: auto;
            object-fit: cover;
            object-position: center top;

        }

        &-name {
            margin-top: 1rem;
            font-size: 2.6rem;
        }

        &-cat {
            display: flex;
            margin-top: .5rem;
            flex-wrap: wrap;
            justify-content: left;
        }

        &-tag {
            display: block;
            width: fit-content;
            padding: .5rem 1rem;
            border: 1px solid #fff;
        }

        &-text {
            margin-top: 1rem;
            font-size: 1.6rem;
        }

        &-link {
            display: block;
            width: 50%;
            margin: auto;
            margin-top: 1.5rem;
            padding: 1rem 0;
            font-size: 1.8rem;
            text-align: center;
            border: 2px solid #05d5fc;
            filter: drop-shadow(0 0 0.4em #05d5fc);
        }

        &-sidebar {
            grid-column: col-start 10/ span 3;
            margin-top: 10rem;

            .sarch-list {
                h3 {
                    font-size: 3rem;
                }

                &__form {
                    display: flex;
                    width: 80%;
                    justify-content: space-between;
                    align-items: center;
                    overflow: hidden;
                    border: 1px solid #a3a3a3;
                    border-radius: 3px;

                    &-keyword {
                        width: 250px;
                        padding: 5px 15px;
                        border: none;
                        box-sizing: border-box;
                        font-size: 1em;
                        outline: none;
                    }

                    &-submit {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;

                        &::after {
                            width: 20px;
                            height: 20px;
                            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23767d83%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
                            background-repeat: no-repeat;
                            content: '';
                        }
                    }
                }

                &__taglist {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        button {
                            position: relative;
                            width: fit-content;
                            padding: .5rem 4rem;
                            margin: 1rem;
                            border: 2px solid #fff;
                            color: #fff;
                            font-size: 1.6rem;
                            background-color: unset;
                            border-radius: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}


//----個別ページ----//

.mwCharacter {
    background-color: #202123;

    &__top {
        width: 100%;


        &__wrapper {
            display: flex;
            width: 128rem;
            margin: auto;
            justify-content: space-between;

            @include mixin.mq-sp {
                width: 100%;
                flex-direction: column-reverse;
            }

            &__text {
                width: 60rem;
                margin: 0 auto;
                padding: 10rem 3rem;

                h4 {
                    color: #666;
                    font-size: 1.4rem;
                    font-family: "alternate-gothic-atf", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    -webkit-font-smoothing: antialiased;
                }

                &--ttl {
                    color: #fff;

                    h2 {
                        font-size: 5rem;
                    }

                    h3 {
                        font-size: 3rem;

                        a {
                            font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
                        }

                    }

                    span {
                        display: inline-block;
                        padding: 1px 1px 0;
                        font-size: 1.4rem;
                        letter-spacing: .2em;
                        line-height: .8;
                        color: #000;
                        background: #fff;
                        font-family: "alternate-gothic-atf", sans-serif;
                        font-weight: 700;
                        font-style: normal;
                    }

                }

                &--deco {
                    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
                    color: #fff;
                    font-size: 2rem;
                    margin-top: 2rem;
                }

                &--slideBtn {
                    width: 100%;
                    margin-top: 5rem;

                    .swiper-pagination {
                        display: flex;
                        position: relative !important;
                        margin-top: 20px !important;
                    }

                    .swiper-pagination-bullet {
                        display: inline-block;
                        position: relative;
                        border-radius: 0% !important;
                        width: 10rem !important;
                        height: auto !important;
                        padding: 1rem 0.5rem;
                        border: 1px solid #fff;
                        color: #fff;
                        font-size: 1.6rem;
                        opacity: 1 !important;

                        &:before {
                            border-bottom: 15px solid transparent;
                            border-left: 15px solid #fff;
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                        }

                        &::after {
                            border-left: 15px solid transparent;
                            border-bottom: 15px solid #fff;
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 0px;
                            right: 0px;
                        }
                    }

                    .swiper-pagination-bullet-active {
                        color: #000;
                        background: #fff !important;

                    }
                }

                &--status {
                    display: block;
                    margin-top: 5rem;

                    .chart-size {
                        display: block;
                        width: 60%;

                        @include mixin.mq-sp {
                            width: 90%;
                            margin: auto;
                        }
                    }
                }
            }

            &__img {
                position: relative;
                width: 48rem;
                overflow: hidden;

                @include mixin.mq-sp {
                    margin: auto;
                }

                .swiper-wrapper {
                    img {
                        object-fit: cover;
                    }
                }

                .chara_lines {
                    position: absolute;
                    top: 20rem;
                    right: 0;
                    writing-mode: vertical-rl;
                    z-index: 3;

                    p {
                        background-color: #fff;
                        color: #000;
                        font-size: 3rem;
                        margin: 1rem;

                        &:first-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    &__session {
        .section-ttl {
            margin-bottom: 2.5rem;
        }

        .log_slider {
            position: relative;
            overflow-x: hidden;
        }

        &--slider {
            .swiper-wrapper {
                .swiper-slide {
                    display: flex;
                    position: relative;
                    width: 50rem;
                    height: 32rem;
                    margin: 1rem 2.5rem;
                    background: #fff;
                }
            }
        }

        &--img {
            position: absolute;
            width: 23rem;
            height: 20rem;
            top: 4rem;
            left: -1.5rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--text {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 45%;
            top: 4rem;
            right: 3.5rem;

            h3 {
                font-size: 2.6rem;
                color: #000;
            }

            ul {
                display: block;
                margin-top: auto;

                li {
                    font-size: 1.8rem;
                    color: #000;
                }
            }
        }

        &--more {
            display: flex;
            width: 45%;
            position: absolute;
            bottom: 2.5rem;
            right: 3.5rem;
            font-size: 1.28rem;
            color: #000;
            align-items: center;
            justify-content: space-between;

            p {
                color: #000;
            }

            a {
                color: #000;
            }
        }
    }
}