#story {
  text-align: center;
  margin-top: px_vw(200px);
  h2 {
    font-size: px_vw(40px);
  }
  .wrapper {
    position: relative;
    display: block;
    margin: px_vw(50px) auto 0;
    max-width: px_vw(980px);
    &_contents {
      display: block;
      margin-top: px_vw(50px);
      p {
        font-size: px_vw(28px);
        margin-top: px_vw(20px);
        &:first-of-type {
          margin-top: 0;
        }
      }

      &.col-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: px_vw(20px);
      }
    }
  }
}
