.faq {
  &_mv {
    position: relative;

    img {
      display: block;
      width: 100%;
      height: px_vw(980px);
      object-fit: cover;
      object-position: top center;

      @include spView {
        height: px_vw(535px, $w-sp);
      }

      @media (min-width: 560px) and (max-width: 750px) {
        object-position: center 20%;
      }
    }

    &-ttl {
      position: absolute;
      width: 100%;
      bottom: px_vw(100px);

      @include spView {
        bottom: max(20px, calc(110px - 10vw));
      }

      @media (min-width: 650px) and (max-width: 750px) {
        bottom: 20px;
      }

      &-wrap {
        display: block;
        width: fit-content;
        margin: auto;
        padding: px_vw(5px);
        border: #9ADFFD 3px solid;
      }

      &-bg {
        position: relative;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #1088FF;
          mix-blend-mode: multiply;
          z-index: 1;
        }
      }


      h2 {
        position: relative;
        padding: px_vw(10px) px_vw(75px);
        border: #9ADFFD 3px solid;
        font-weight: 500;
        z-index: 2;

        &::before {
          position: absolute;
          display: block;
          content: "";
          background-image: url(../images/faq/F-Top-ttl.svg);
          width: px_vw(340px);
          height: px_vw(114px);
          background-size: contain;
          background-repeat: no-repeat;
          top: px_vw(-125px);
          left: 50%;
          transform: translateX(-50%);
          z-index: 0;
        }

        @include spView {
          width: px_vw(250px, $w-sp);
          font-size: px_vw(22px, $w-sp);
          text-align: center;
          padding: px_vw(5px, $w-sp) 0;

          &::before {
            background-image: url(../images/sp/faq/sp_F-Top-ttl.svg);
            width: px_vw(228px, $w-sp);
            height: px_vw(76px, $w-sp);
            top: px_vw(-80px, $w-sp);
          }

        }
      }
    }

  }

  &_nav {
    max-width: px_vw(900px);
    margin: px_vw(50px) auto 0;

    @include spView {
      max-width: px_vw(340px, $w-sp);
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: px_vw(30px);

      li {
        display: block;
        text-align: center;
        font-size: px_vw(21px);
        font-weight: 500;


        a {
          display: block;
          width: 100%;
          height: auto;
          color: #fff;
          padding: px_vw(25px);
        }
      }

      @include spView {
        gap: px_vw(10px, $w-sp);

        li {
          font-size: px_vw(14px, $w-sp);

          a {
            padding: px_vw(20px, $w-sp) 0;
          }
        }
      }
    }

    &-common {
      background-color: #62CFFF;
    }

    &-character {
      background-color: #FD9AF2;
    }

    &-dancer {
      background-color: #FFBE7C;
    }
  }

  &_wrapper {
    max-width: 900px;
    margin: px_vw(100px) auto 0;

    @include spView {
      max-width: px_vw(340px, $w-sp);
    }

    h3 {
      display: block;
      width: px_vw(385px);
      font-size: px_vw(24px);
      margin: auto;
      padding: px_vw(30px);
      border: 5px solid #9ADFFD;
      color: #464646;
      text-align: center;

      @include spView {
        width: px_vw(235px, $w-sp);
        font-size: px_vw(18px, $w-sp);
      }
    }



    &#common {
      h3 {
        border: 5px solid #62CFFF;
      }

      .faq_container {
        h4 {
          &::after {
            background: #62CFFF;
          }
        }

        .accordion-item {
          border-top: 1px solid #62CFFF;


          &:last-of-type {
            border-bottom: 1px solid #62CFFF;
          }
        }

        .accordion-item-header {
          &::after {
            background-image: url(../images/faq/common_arrow.svg);
          }
        }
      }
    }

    &#character {
      h3 {
        border: 5px solid #FD9AF2;
      }

      .faq_container {
        h4 {
          &::after {
            background: #FD9AF2;
          }
        }

        .accordion-item {
          border-top: 1px solid #FD9AF2;


          &:last-of-type {
            border-bottom: 1px solid #FD9AF2;
          }
        }

        .accordion-item-header {
          &::after {
            background-image: url(../images/faq/character_arrow.svg);
          }
        }
      }
    }

    &#dancer {
      h3 {
        border: 5px solid #FFBE7C;
      }

      .faq_container {
        h4 {
          &::after {
            background: #FFBE7C;
          }
        }

        .accordion-item {
          border-top: 1px solid #FFBE7C;


          &:last-of-type {
            border-bottom: 1px solid #FFBE7C;
          }
        }

        .accordion-item-header {
          &::after {
            background-image: url(../images/faq/dancer_arrow.svg);
          }
        }
      }
    }
  }

  &_container {
    margin: px_vw(75px) auto 0;

    h4 {
      display: block;
      width: 100%;
      position: relative;
      margin: auto;
      font-size: px_vw(21px);
      padding-bottom: px_vw(20px);
      color: #464646;
      text-align: center;

      @include spView {
        font-size: px_vw(16px, $w-sp);
      }

      &::after {
        position: absolute;
        display: block;
        content: "";
        width: px_vw(150px);
        height: 2px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        @include spView {
          width: px_vw(120px, $w-sp);
        }
      }


    }
  }
}
