.Topmv {
  position: relative;
  z-index: 1;

  img {
    display: block;
    width: 100%;
    height: px_vw(980px);
    object-fit: cover;
    object-position: 50% 20%;
  }

  &-ttl {
    position: absolute;
    display: block;
    width: 100%;
    bottom: px_vw(-20px);
    left: 50%;
    transform: translateX(-50%);

    img {
      width: px_vw(750px);
      height: auto;
      object-fit: contain;
      z-index: 10;
      margin: auto;
    }
  }

  @include spView {

    img {
      height: px_vw(598px, $w-sp);
    }

    &-ttl {
      bottom: px_vw(-20px, $w-sp);

      img {
        width: px_vw(430px, $w-sp);
        height: auto;
        margin: auto;
      }
    }
  }
}

.About {
  position: relative;
  width: 100%;
  background: linear-gradient(125deg, rgba(243, 102, 231, 1) 0%, rgba(245, 142, 61, 1) 100%);
  z-index: 0;


  &_wrapper {
    width: 100%;
    padding: px_vw(130px) 0;
    text-align: center;

    h2 {
      font-size: px_vw(48px);
      letter-spacing: 5px;
    }

    p {
      margin-top: px_vw(40px);
      font-size: px_vw(21px);
      font-weight: 500;
      line-height: 1.8;

      .A-border {
        position: relative;

        &::after {
          position: absolute;
          content: "";
          display: block;
          width: px_vw(390px);
          height: px_vw(5px);
          bottom: px_vw(-10px);
          left: 50%;
          transform: translateX(-50%);
          background: #FDF07C;
        }
      }
    }


    @include spView {
      padding: px_vw(70px, $w-sp) 0;

      h2 {
        font-size: px_vw(32px, $w-sp);
      }

      p {
        font-size: px_vw(14px, $w-sp);
        line-height: 1.5;

        .A-border {
          &::after {
            width: px_vw(265px, $w-sp);
            height: px_vw(3px, $w-sp);
            bottom: px_vw(-5px, $w-sp);
          }
        }
      }
    }
  }
}

.Message {
  position: relative;

  &_wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include spView {
      height: px_vw(528px, $w-sp);
    }

    &.fadeIn {
      animation: fadeIn 1s forwards;

      .W-border {
        &::after {
          animation: slideBorder 1s forwards;
          animation-delay: 1.8s; // fadeInが終わってから1秒後に開始
        }
      }
    }

    .textbox {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(90deg, rgba(253, 154, 242, 1) 0%, rgba(255, 190, 124, 1) 100%);
        mix-blend-mode: multiply;
        z-index: 1;
      }

      p {
        position: relative;
        font-size: px_vw(32px);
        font-weight: 500;
        line-height: 1.5;

        z-index: 2;

        @include spView {
          font-size: px_vw(16px, $w-sp);
        }

        .W-border {
          position: relative;

          &::after {
            position: absolute;
            content: "";
            display: block;

            background: linear-gradient(90deg, rgba(253, 154, 242, 1) 0%, rgba(255, 190, 124, 1) 100%);
            z-index: -1;
          }
        }
      }
    }



    &.box1 {
      background-image: url(../images/message_01.webp);
      background-position: left 10% top;

      .textbox {
        position: absolute;
        bottom: px_vw(145px);
        right: 0;

        p {
          padding: px_vw(32px) px_vw(28px) px_vw(42px) px_vw(37px);

          .W-border {
            &::after {
              width: px_vw(460px);
              height: px_vw(10px);
              bottom: px_vw(-5px);
              right: px_vw(-30px);
            }
          }
        }
      }

      &.fadeIn {
        .textbox {
          &::before {
            animation: slideIn 1s forwards;
            animation-delay: 0.5s; // fadeInが終わってから0.5秒後に開始
          }

          p {
            animation: slideText 1s forwards;
            animation-delay: 1s; // fadeInが終わってから0.5秒後に開始
          }
        }
      }

      @include spView {
        background-image: url(../images/sp/sp_message_01.jpg);
        background-position: top 25% left 20%;

        .textbox {
          bottom: px_vw(65px, $w-sp);

          p {
            font-size: px_vw(22px, $w-sp);

            .W-border {
              &::after {
                width: px_vw(320px, $w-sp);
                height: px_vw(6px, $w-sp);
                bottom: px_vw(-3px, $w-sp);
                right: px_vw(-30px, $w-sp);
              }
            }
          }
        }
      }
    }

    &.box2 {
      background-image: url(../images/message_02.webp);

      .textbox {
        position: absolute;
        bottom: px_vw(50px);
        left: 0;

        p {
          padding: px_vw(30px) px_vw(15px) px_vw(30px) px_vw(50px);

          .W-border {
            &::after {
              width: px_vw(600px);
              height: px_vw(10px);
              bottom: px_vw(-5px);
              left: px_vw(-50px);
            }
          }

        }
      }

      &.fadeIn {
        .textbox {
          &::before {
            animation: slideIn_reverse 1s forwards;
            animation-delay: 0.5s; // fadeInが終わってから0.5秒後に開始
          }

          p {
            animation: slideText_reverse 1s forwards;
            animation-delay: 1s; // fadeInが終わってから0.5秒後に開始
          }
        }
      }

      @include spView {
        background-image: url(../images/sp/sp_message_02.jpg);
        background-position: top 20% center;

        .textbox {
          bottom: px_vw(23.5px, $w-sp);

          p {
            font-size: px_vw(16px, $w-sp);

            .W-border {
              &::after {
                width: px_vw(310px, $w-sp);
                height: px_vw(6px, $w-sp);
                bottom: px_vw(-3px, $w-sp);
                left: px_vw(-30px, $w-sp);
              }
            }
          }
        }
      }
    }

    &.box3 {
      background-image: url(../images/message_03.webp);

      .textbox {
        position: absolute;
        bottom: px_vw(50px);
        right: 0;

        p {
          padding: px_vw(30px) px_vw(50px);
          text-align: right;

          .W-border {
            &::after {
              height: px_vw(10px);
              bottom: px_vw(-5px);
              right: px_vw(-50px);
            }

            &:nth-of-type(1) {
              &::after {
                width: px_vw(640px);
              }
            }

            &:nth-of-type(2) {
              &::after {
                width: px_vw(700px);
              }
            }
          }
        }
      }

      &.fadeIn {
        .textbox {
          &::before {
            animation: slideIn 1s forwards;
            animation-delay: 0.5s; // fadeInが終わってから0.5秒後に開始
          }

          p {
            animation: slideText 1s forwards;
            animation-delay: 1s; // fadeInが終わってから0.5秒後に開始
          }
        }
      }

      @include spView {
        background-image: url(../images/sp/sp_message_03.jpg);

        .textbox {
          bottom: px_vw(23.5px, $w-sp);

          p {
            font-size: px_vw(16px, $w-sp);
            text-align: right;

            .W-border {
              &::after {
                height: px_vw(6px, $w-sp);
                bottom: px_vw(-3px, $w-sp);
                right: px_vw(-30px, $w-sp);
              }

              &:nth-of-type(1) {
                &::after {
                  width: px_vw(330px, $w-sp);
                }
              }

              &:nth-of-type(2) {
                &::after {
                  width: px_vw(360px, $w-sp);
                }
              }
            }
          }
        }
      }
    }
  }
}

.Info {
  .mainttl {
    &::before {
      width: px_vw(490px);
      height: px_vw(104px);
      background: url(../images/mainttl_info.svg);

      @include spView {
        width: px_vw(326px, $w-sp);
        height: px_vw(70px, $w-sp);
        background: url(../images/sp/sp_mainttl_info.svg);
      }
    }
  }

  &_wrapper {
    display: block;
    margin: px_vw(40px) auto 0;
    width: px_vw(420px);

    @include spView {
      width: px_vw(275px, $w-sp);
      margin: px_vw(35px, $w-sp) auto 0;
    }

    dl {
      color: #464646;
      font-size: px_vw(21px);
      font-weight: 500;
      margin-top: px_vw(35px);

      @include spView {
        font-size: px_vw(14px, $w-sp);
        margin-top: px_vw(22px, $w-sp);
      }

      &:first-of-type {
        margin-top: 0;
      }

      dd {
        margin-top: px_vw(10px);
      }
    }
  }
}

.Audition {
  .mainttl {
    &::before {
      width: px_vw(353px);
      height: px_vw(76px);
      background: url(../images/mainttl_audition.svg);

      @include spView {
        width: px_vw(236px, $w-sp);
        height: px_vw(51px, $w-sp);
        background: url(../images/sp/sp_mainttl_audition.svg);
      }
    }
  }

  &_wrapper {
    margin: px_vw(90px) auto 0;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: px_vw(60px);

    @include spView {
      flex-direction: column;
      gap: px_vw(45px, $w-sp);
      padding: 0 px_vw(25px, $w-sp);
    }
  }

  &_contents {
    width: px_vw(488px);

    @include spView {
      width: 100%;
    }

    &-ttl {
      position: relative;

      h4 {
        display: block;
        width: 100%;
        font-size: px_vw(32px);
        text-align: center;
        color: #464646;
        font-weight: 500;

      }

      span {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: block;
        padding: 5px 10px;
        border-radius: 50px;
        font-size: px_vw(12px);
        color: #fff;
        background-color: #89DB76;
      }

      @include spView {
        h4 {
          font-size: px_vw(21px, $w-sp);
        }

        span {
          padding: px_vw(7px, $w-sp) px_vw(15px, $w-sp);
          font-size: px_vw(12px, $w-sp);
        }
      }
    }

    &-img {
      margin-top: px_vw(20px);

      @include spView {
        margin-top: px_vw(20px, $w-sp);
      }

      img {
        width: 100%;
      }
    }

    &-link {
      &.chara {
        background: #FD9AF2;
      }

      &.dance {
        background: #FFBE7C;
      }

      p {
        display: block;
        width: fit-content;
        font-size: px_vw(24px);
        font-weight: 500;
        color: #fff;
        padding: px_vw(30px);
        margin: auto;

        @include spView {
          font-size: px_vw(16px, $w-sp);
          padding: px_vw(20px, $w-sp);
        }
      }
    }
  }
}

.Faq {
  margin-top: px_vw(120px);

  a {
    display: block;
    text-align: center;
    width: px_vw(380px);
    padding: px_vw(20px);
    margin: auto;
    background: #62CFFF;
    color: #fff;
    font-size: px_vw(36px);
    font-weight: 500;

  }

  @include spView {
    margin-top: px_vw(70px, $w-sp);

    a {
      width: calc(100% - px_vw(50px, $w-sp));
      padding: px_vw(15px, $w-sp);
      font-size: px_vw(24px, $w-sp);
    }
  }
}
