-
	var facebookLink = "https://www.facebook.com/share.php?u="+og_url
	var twitterLink  = "https://twitter.com/share?count=horizontal&original_referer="+og_url+"&text="+siteTitle+" | 東京ディズニーリゾート"+"&url="+og_url
	var lineLink     = "https://line.naver.jp/R/msg/text/?"+siteTitle+" | 東京ディズニーリゾート"+og_url

.pageTop
header#contentHeader

